<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <h2 class="logo">好好學日文</h2>
        <nav class="navigation">
            <a href="mailto:01157145@email.ntou.edu.tw,01157121@email.ntou.edu.tw">Mail Us</a>
            <a href="https://github.com/itsYoga/Login">Github</a>
            <a href="https://docs.google.com/presentation/d/1zT9VZhrYE8fwXxFEaIyyc69VQTyUP1pH178vVD0m4_g/edit#slide=id.ge6125fcbc7_0_767">PPT</a>
            <a href="/login"><button class="btnLogin-popup">Login</button></a>
        </nav>
    </header>
    <div class="form-container">
        <h2>Register</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <span class="icon1"><ion-icon name="person-outline"></ion-icon></span>
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <span class="icon2"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <a href="/login"><button type="submit" class="submit-btn">Register</button></a>

        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>